@model TcknoCheckApp.Models.Concrete.Starbuck
@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>



<form class="form-group" method="post">

    


    <b>Ad</b>
    @Html.TextBoxFor(x=>x.FirstName , new {@class="form-control"})
    <b>Soyad</b>
    @Html.TextBoxFor(x=>x.LastName, new {@class="form-control"})
    <b>Tc Kimlik No</b>
    @Html.TextBoxFor(x=>x.Tckno ,new {@class="form-control"})
    <br />
    <b>Doğum Yılı</b>
    @Html.TextBoxFor(x=>x.BirthYear, new {@class="form-control"})
    <br />

    @if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <script>
            alert('@ViewBag.Message');
        </script>

    }
    <button class="btn btn-info">Kaydet</button>
</form>


